<div class="blue white-text">
  <div class="container-large">
    <div class="row">

      <div class="col s8">
        <div class="left col s12">

          <nav class="transparent z-depth-0">
            <div class="nav-wrapper">
              <div class="col s12">
                <a class="breadcrumb tooltipped" (click)="toggleFavorite()" data-position="bottom" data-tooltip="Usuário/Organização">
                  <i style="font-size: 19px;" class="material-icons yellow-text pointer">{{ isFavoriteRepository && 'star' || 'star_border' }}</i>   {{ owner }} </a>
                <a class="breadcrumb tooltipped" data-position="bottom" data-tooltip="Repositório">{{ repository }}</a>
              </div>
            </div>
          </nav>

          <!--table>
            <tr>
              <td> <i class="material-icons tiny">public</i> Linguagem: <b>{{ repositoryData.language }}</b> </td>
              <td> <i class="material-icons tiny">report_problem</i> Issues abertas: <b>{{ repositoryData.open_issues }}</b> </td>
              <td> <i class="material-icons tiny">access_time</i> Atualizado em: <b>{{ repositoryData.updated_at | date: 'dd/MM/yyyy hh:mm' }}</b> </td>
            </tr>
          </table-->

          <div class="col s12 m6 l2">
            <i class="material-icons tiny">public</i> Linguagem: <b>{{ repositoryData.language || 'N/A' }}</b>
          </div>

          <div class="col s12 m6 l2">
            <i class="material-icons tiny">info_outline</i> Issues abertas: <b>{{ repositoryData.open_issues }}</b>
          </div>

          <div class="col s12 m6 l3">
            <i class="material-icons tiny">access_time</i> Atualizado em: <b>{{ repositoryData.updated_at | date: 'dd/MM/yyyy hh:mm' }}</b>
          </div>

        </div>
      </div>

      <div class="col s4">
        <div class="right">
          <!--div class="nav-wrapper">
            <div class="input-field">
              <input id="search" type="search" class="transparent white-text" [(ngModel)]="search" [ngClass]="{ 'hidden-search': hideSearchInput }">
              <label class="label-icon" for="search" (click)="toggleSearchInput()"> <i class="material-icons white-text">search</i> </label>
              <i class="material-icons" (click)="toggleSearchInput()" [hidden]="hideSearchInput">close</i>
            </div>
          </div-->
        </div>
      </div>


      <!--div class="row container center">

        <div class="col s4">
          <h5>QA</h5>
          <p>
            A9C721A07313D2C931108FB200F07411C2C06AB1
          </p>
        </div>

        <div class="col s4">
          <h5>HOMOLOG</h5>
          <p>
            D0A57F905CF2373B5715D6DA4F9D3059185C60EB
          </p>
        </div>

        <div class="col s4">
          <h5>MASTER</h5>
          <p>
            BAC3DE574F3C47EFAC8D3018EE78E0FA7AD9E5B2
          </p>
        </div>

      </div-->

    </div>

  </div>

  <div class="center nav-content">
    <ul class="tabs tabs-transparent" #repositoryTabs>
      <li class="tab"><a href="#activities"> <i class="material-icons tiny">data_usage</i> Atividades </a></li>
      <li class="tab"><a href="#branches"> <i class="material-icons tiny">merge_type</i> Branches </a></li>
      <li class="tab"><a href="#compare"> <i class="material-icons tiny">compare_arrows</i> Compare </a></li>
      <!--li class="tab"><a href="#settings"> <i class="material-icons tiny">settings</i> </a></li-->
    </ul>
  </div>

</div>

<div id="activities" class="col s12 container-large">
  <app-activities [owner]="owner" [repository]="repository"></app-activities>
</div>

<div id="branches" class="col s12 container-large">
  <app-branches [owner]="owner" [repository]="repository" [search]="''"></app-branches>
</div>

<div id="compare" class="col s12 container-large">
  <h5>Compare entre commits</h5>

  <div class="row">
    <div class="input-field col s6">
      <input [(ngModel)]="release_client" placeholder="Release cliente" id="first_name" type="text">
      <label for="first_name">Release cliente</label>
    </div>

    <div class="input-field col s6">
      <input [(ngModel)]="release_last" placeholder="Última release" id="last_name" type="text">
      <label for="last_name">Última release</label>
    </div>
  </div>

  <div class="row center">
    <button class="btn blue" [disabled]="!release_client || !release_last" (click)="compare( release_client, release_last )"> Comparar </button>
  </div>

  <div class="row" *ngIf="compareData.total_commits">
    <h5>Diferença de {{ compareData.total_commits }} commits</h5>
    <div class="collection">
      <a class="collection-item pointer" *ngFor="let commit of compareData.commits">
        <span style="padding-right: 3%;">{{ commit.commit.message | gitmoji }}</span>
        <span class="badge hide-on-med-and-down"> {{ commit.sha }} </span>
      </a>
    </div>
  </div>

</div>

<!--div id="settings" class="col s12 container-large">
  <h5>Configurações para branch {{ repository }}</h5>
</div-->

<br /><br />
