<div class="container-large">

  <div class="row">
    <h4 class="">Configurações</h4>
  </div>


  <div>

    <div class="section">
      <h5>Branches para comparar</h5>
      <p class="grey-text">Para adicionar, basta digitar o texto e pressionar Enter. Você pode excluí-los clicando no ícone <b>X</b></p>
      <div class="row">
        <div class="col s12 m6 l4">
          <div #defaultBranches class="chips chips-autocomplete"></div>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="section">
      <h5>Aba padrão</h5>
      <p class="grey-text">Definir aba padrão ao visualizar repositório</p>
      <div class="row">
        <div class="col s4 m6 l2">
          <select [(ngModel)]="formData.default_tab" #formSelect>
            <option value="" disabled selected>Selecione...</option>
            <option value="atividades">Atividades</option>
            <option value="branches">Branches</option>
          </select>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="center">
  <button class="btn green" (click)="save()">Salvar</button>
</div>

<div class="row right">
  v1.0.1
</div>
