<div class="container-large">

  <div class="row">
    <h5 class="center">Configurações</h5>
  </div>

  <div class="row">
    <h6 class="grey-text">Branches</h6>

    <div class="col s12">
      Branches padrão para comparação (Para adicionar, basta digitar o texto e pressionar Enter. Você pode excluí-los clicando no ícone <b>X</b>)
      <div #defaultBranches class="chips chips-autocomplete"></div>
    </div>
  </div>

  <div class="center">
    <button class="btn green" (click)="save()">Salvar</button>
  </div>

</div>
