<ul id="dropdown_info" class="dropdown-content" style="width: 500px !important;">
  <!--li><a href="#"> Perfil </a></li-->
  <li class="divider"></li>
  <li><a (click)="logout()">Sair</a></li>
</ul>

<ul id='dropdown_select_repository' class='dropdown-content'>
  <li *ngFor="let org of organizations" [ngClass]="{ 'blue lighten-1': org.login === organization }">
    <img src="{{ org.avatar_url }}" width="15%" style="float:left; margin: 8px 15px 0 10px;" />
    <a (click)="setDefaultOrganization( org.login )" [ngClass]="{ 'white-text': org.login === organization }">
      <span style="margin-top: -20px !important;">{{ org.login }}</span>
    </a>
  </li>
</ul>

<!-- Barra superior -->
<nav class="blue darken-1">

  <div class="nav-wrapper">

    <a class="brand-logo">
      <span data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons pointer" *ngIf="isLogged()" (click)="loadRepositoriesByOrganization()">menu</i>
        Git Panel
      </span>
    </a>

    <ul class="right hide-on-med-and-down" *ngIf="isLogged()">

      <li>
        <a (click)="refresh()">
          <i class="material-icons">refresh</i>
        </a>
      </li>

      <li>
        <a [routerLink]="['/settings']">
          <i class="material-icons">settings</i>
        </a>
      </li>

      <li *ngIf="isLogged()">
        <a class="dropdown-trigger" data-target="dropdown_info">
          {{ user.name }}
          <i class="material-icons right">
            <img style="margin-top: 19px;" class="circle" src="{{ user.avatar_url }}" width="25" />
          </i>
        </a>
      </li>

    </ul>

  </div>

</nav>

<!-- Menu lateral -->
<ul id="slide-out" class="sidenav" #sideNav *ngIf="isLogged()" style="overflow: hidden !important;">

  <li>
    <a class='dropdown-trigger btn btn-flat transparent' href="#!" data-target='dropdown_select_repository'>
      {{ organization }} <i class="material-icons">arrow_drop_down</i>
    </a>
  </li>

  <li> <div class="divider"></div> </li>

  <li style="padding: 0 15px;">
    <div class="nav-wrapper">
      <div class="input-field fix-search grey lighten-4">
        <input id="search" type="search" class="transparent" [(ngModel)]="formSearchRepository">
        <label class="label-icon" for="search" (click)="toggleSearchInput()"> <i class="material-icons">search</i> </label>
        <i class="material-icons" (click)="formSearchRepository = ''">close</i>
      </div>
    </div>
  </li>
  <li> <a class="subheader">Repos ({{ repositories.length || 0 }})</a> </li>
  <li style="overflow: auto; height: 85%; padding: 0 15px;">
    <div>

      <div class="ph-item" style="border: 0;" *ngIf="!repositories.length">

        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-12 empty big"></div>
          </div>

          <div class="ph-row">
            <div class="ph-col-10"></div>
          </div>

        </div>

      </div>

      <ul>
        <li *ngFor="let repo of repositories | orderByImpure: 'name' | filterBy: [ 'name' ]: formSearchRepository">
          <a [ngClass]="{ 'grey lighten-4': repo.name === currentRepositoryName }" [routerLink]="[ '/r', organization, repo.name ]" (click)="closeSidenav(); searchRepository( repo )">{{ repo.name }}</a>
        </li>
      </ul>
    </div>
  </li>

</ul>

<main>
  <router-outlet></router-outlet>
</main>
