<div class="row">

  <div class="center">

    <h5 style="margin-top: 10%;">
      <img src="assets/img/logo_128x128.png" />
      <br />
      <br />
      <br />
      Para começar a utilizar o Git Panel, faça o login e autorize a organização (caso esteja em alguma).
    </h5>

    <p>
      <a class="btn btn-large green" href="http://github.com/login/oauth/authorize?client_id=cc9e194a4e3cdddfde63&client_secret=8489597eff97001068af16945779c8d53a71e3ef&scope=repo">
        <i class="material-icons left">chevron_right</i> Login
      </a>
    </p>

  </div>

</div>
