/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-size: 12px !important;

  background-color: #FFFFFF;

  font-family: 'Open Sans' !important;
}

.bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.bottom-sheet {
  max-height: 60% !important;
}

.container-large {
  padding: 10px 25px 1px 25px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
