.btn {
  width: 100% !important;
  font-size: 11px !important;
}

td {
  padding: 8px;
}

[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after {
  background-color: #FFFFFF !important;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
  border-color: #5A5A5A !important;
  background-color: red !important;
}

.modal {
  width: 95% !important;
}